body {
  padding: 30px;
  background-color: #000000;
  font-family: 'PT Serif', serif;
  font-size: 1rem;
  color: #C0C0C0;
}

a {
  text-decoration: none;
  color: #C0C0C0;;
}

a:hover {
  color: darkred;
}

.header {
  padding-bottom: 5rem;
}

.header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.house-columns {
  display: flex;
  padding-left: 10rem;
  padding-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}

.house-columns h1 {
  text-align: center;
}

.house-columns .students {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.enroll-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 5rem;
}

.house-column.Gryffindor {
  background-color: #3D0504;
}

.house-column.Hufflepuff {
  background-color: #A36C09;
}

.house-column.Ravenclaw {
  background-color: #001B27;
}

.house-column.Slytherin {
  background-color: #012606;
}
