<div class="house-columns">
  <% for house in @houses %>
  <div class="house-column <%= house.name %>">
      <h1>
        <%= house.name %>
      </h1>
      <div class="students">
        <% for student in house.students %>
        <a href="/students/<%= student.id %>"><%= student.full_name %></a>
        <% end %>
      </div>
  </div>
  <% end %>
</div>
<div class="enroll-button">
  <form action="/students/new" method="get">
    <input type="submit" value="Enroll new student">
  </form>
</div>
