<!DOCTYPE html>
<html>
<head>
  <title>Harry Potter & The Houses</title>
  <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="header">
    <a href='/students'><img src="/harry_potter_logo.png"></a>
  </div>
  <%= yield %>
</body>
</html>
